# number|nargs|handler|condition|trace name|public definitions
0|1|nosys|ALWAYS|indir|-
1|1|rexit|ALWAYS|exit|exit=1
2|0|fork|ALWAYS|fork|fork=2,vfork@alias=2
3|3|read|ALWAYS|read|read=3
4|3|write|ALWAYS|write|write=4
5|3|open|ALWAYS|open|open=5
6|1|close|ALWAYS|close|close=6
7|4|wait4|ALWAYS|wait4|wait4=7
8|0|nosys|ALWAYS|#8|-
9|2|link|ALWAYS|link|link=9
10|1|unlink|ALWAYS|unlink|unlink=10
11|2|execv|ALWAYS|execv|execv=11
12|1|chdir|ALWAYS|chdir|chdir=12
13|1|fchdir|ALWAYS|fchdir|fchdir=13
14|3|mknod|ALWAYS|mknod|mknod=14
15|2|chmod|ALWAYS|chmod|chmod=15
16|3|chown|ALWAYS|chown|chown=16
17|2|chflags|ALWAYS|chflags|chflags=17
18|2|fchflags|ALWAYS|fchflags|fchflags=18
19|4|lseek|ALWAYS|lseek|lseek=19
20|0|getpid|ALWAYS|getpid|getpid=20
21|3|smount|ALWAYS|mount|mount=21
22|1|umount|ALWAYS|umount|umount=22
23|6|__sysctl|ALWAYS|__sysctl|__sysctl=23
24|0|getuid|ALWAYS|getuid|getuid=24
25|0|geteuid|ALWAYS|geteuid|geteuid=25
26|4|ptrace|ALWAYS|ptrace|ptrace=26
27|0|getppid|ALWAYS|getppid|getppid=27
28|2|statfs|ALWAYS|statfs|statfs=28
29|2|fstatfs|ALWAYS|fstatfs|fstatfs=29
30|3|getfsstat|ALWAYS|getfsstat|getfsstat=30
31|4|sigaction|ALWAYS|sigaction|sigaction=31
32|3|sigprocmask|ALWAYS|sigprocmask|sigprocmask=32
33|2|saccess|ALWAYS|access|access=33
34|1|sigpending|ALWAYS|sigpending|sigpending=34
35|2|sigaltstack|ALWAYS|sigaltstack|sigaltstack=35
36|0|sync|ALWAYS|sync|sync=36
37|2|kill|ALWAYS|kill|kill=37
38|2|stat|ALWAYS|stat|stat=38
39|2|nosys|ALWAYS|getlogin|-
40|2|lstat|ALWAYS|lstat|lstat=40
41|1|dup|ALWAYS|dup|dup=41
42|0|pipe|ALWAYS|pipe|pipe=42
43|1|nosys|ALWAYS|setlogin|-
44|4|profil|ALWAYS|profil|profil=44
45|1|setuid|ALWAYS|setuid|setuid=45
46|1|seteuid|ALWAYS|seteuid|seteuid=46
47|0|getgid|ALWAYS|getgid|getgid=47
48|0|getegid|ALWAYS|getegid|getegid=48
49|1|setgid|ALWAYS|setgid|setgid=49
50|1|setegid|ALWAYS|setegid|setegid=50
51|0|kmemdev|ALWAYS|kmemdev|kmemdev=51
52|3|nosys|ALWAYS|phys|phys=52
53|1|nosys|ALWAYS|lock|lock=53
54|4|ioctl|ALWAYS|ioctl|ioctl=54
55|1|reboot|ALWAYS|reboot|reboot=55
56|2|sigwait|ALWAYS|sigwait|sigwait=56
57|2|symlink|ALWAYS|symlink|symlink=57
58|3|readlink|ALWAYS|readlink|readlink=58
59|3|execve|ALWAYS|execve|execve=59
60|1|umask|ALWAYS|umask|umask=60
61|1|chroot|ALWAYS|chroot|chroot=61
62|2|fstat|ALWAYS|fstat|fstat=62
63|0|nosys|ALWAYS|#63|-
64|0|nosys|ALWAYS|#64|-
65|6|pselect|ALWAYS|pselect|pselect=65
66|0|vfork|ALWAYS|vfork|-
67|0|nosys|ALWAYS|#67|-
68|0|nosys|ALWAYS|#68|-
69|1|brk|ALWAYS|brk|sbrk=69
70|1|rdglob|GLOB|rdglob|rdglob=70
71|2|wrglob|GLOB|wrglob|wrglob=71
72|0|sc_msec|ALWAYS|msec|msec=72
73|0|nosys|ALWAYS|#73|-
74|0|nosys|ALWAYS|#74|-
75|0|nosys|ALWAYS|#75|-
76|0|vhangup|ALWAYS|vhangup|vhangup=76
77|0|nosys|ALWAYS|#77|-
78|0|nosys|ALWAYS|#78|-
79|2|getgroups|ALWAYS|getgroups|getgroups=79
80|2|setgroups|ALWAYS|setgroups|setgroups=80
81|1|getpgrp|ALWAYS|getpgrp|getpgrp=81
82|2|setpgrp|ALWAYS|setpgrp|setpgrp=82
83|3|setitimer|ALWAYS|setitimer|setitimer=83
84|0|nosys|ALWAYS|old wait|-
85|0|nosys|ALWAYS|#85|swapon=85
86|2|getitimer|ALWAYS|getitimer|getitimer=86
87|0|nosys|ALWAYS|#87|-
88|0|nosys|ALWAYS|#88|-
89|0|getdtablesize|ALWAYS|getdtablesize|getdtablesize=89
90|2|dup2|ALWAYS|dup2|dup2=90
91|0|nosys|ALWAYS|#91|-
92|3|fcntl|ALWAYS|fcntl|fcntl=92
93|5|select|ALWAYS|select|select=93
94|0|nosys|ALWAYS|#94|-
95|1|fsync|ALWAYS|fsync|fsync=95
96|3|setpriority|ALWAYS|setpriority|setpriority=96
97|3|socket|ERRNET|socket|socket=97
98|3|connect|IFNET|connect|connect=98
99|3|accept|IFNET|accept|accept=99
100|2|getpriority|ALWAYS|getpriority|getpriority=100
101|4|send|IFNET|send|send=101
102|4|recv|IFNET|recv|recv=102
103|1|sigreturn|ALWAYS|sigreturn|sigreturn=103
104|3|bind|IFNET|bind|bind=104
105|5|setsockopt|IFNET|setsockopt|setsockopt=105
106|2|listen|IFNET|listen|listen=106
107|1|sigsuspend|ALWAYS|sigsuspend|sigsuspend=107
108|0|nosys|ALWAYS|#108|-
109|0|nosys|ALWAYS|#109|-
110|0|nosys|ALWAYS|#110|-
111|0|nosys|ALWAYS|#111|-
112|2|sigstack|ALWAYS|sigstack|sigstack=112
113|3|recvmsg|IFNET|recvmsg|recvmsg=113
114|3|sendmsg|IFNET|sendmsg|sendmsg=114
115|0|nosys|ALWAYS|#115|-
116|2|gettimeofday|ALWAYS|gettimeofday|gettimeofday=116
117|2|getrusage|ALWAYS|getrusage|getrusage=117
118|5|getsockopt|IFNET|getsockopt|getsockopt=118
119|0|nosys|ALWAYS|#119|-
120|3|readv|ALWAYS|readv|readv=120
121|3|writev|ALWAYS|writev|writev=121
122|2|settimeofday|ALWAYS|settimeofday|settimeofday=122
123|3|fchown|ALWAYS|fchown|fchown=123
124|2|fchmod|ALWAYS|fchmod|fchmod=124
125|6|recvfrom|IFNET|recvfrom|recvfrom=125
126|0|nosys|ALWAYS|#126|-
127|0|nosys|ALWAYS|#127|-
128|2|rename|ALWAYS|rename|rename=128
129|3|truncate|ALWAYS|truncate|truncate=129
130|3|ftruncate|ALWAYS|ftruncate|ftruncate=130
131|2|flock|ALWAYS|flock|flock=131
132|0|nosys|ALWAYS|#132|-
133|6|sendto|IFNET|sendto|sendto=133
134|2|shutdown|IFNET|shutdown|shutdown=134
135|4|socketpair|ERRNET|socketpair|socketpair=135
136|2|mkdir|ALWAYS|mkdir|mkdir=136
137|1|rmdir|ALWAYS|rmdir|rmdir=137
138|2|utimes|ALWAYS|utimes|utimes=138
139|0|nosys|ALWAYS|#139|-
140|2|adjtime|ALWAYS|adjtime|adjtime=140
141|3|getpeername|IFNET|getpeername|getpeername=141
142|0|nosys|ALWAYS|#142|-
143|0|nosys|ALWAYS|#143|-
144|2|getrlimit|ALWAYS|getrlimit|getrlimit=144
145|2|setrlimit|ALWAYS|setrlimit|setrlimit=145
146|2|killpg|ALWAYS|killpg|killpg=146
147|0|nosys|ALWAYS|#147|-
148|2|nosys|ALWAYS|setquota|setquota=148
149|4|nosys|ALWAYS|quota|quota=149
150|3|getsockname|IFNET|getsockname|getsockname=150
151|0|nosys|ALWAYS|#151|-
152|2|ustore|ALWAYS|ustore|ustore=152
153|1|ufetch|ALWAYS|ufetch|ufetch=153
154|4|ucall|ALWAYS|ucall|ucall=154
155|0|nosys|ALWAYS|#155|-
