machine/
hostkern.o
rmap_kernel_compact.o
rmap_kernel_wide.o
rmap_kernel_diagnostic.o
uio_kernel.o
clist_kernel.o
cred_prot.o
cred_prot2.o
cred_proc.o
rmap_test_compact
rmap_test_wide
rmap_test_diagnostic
uio_test
clist_test
cred_test
resource_kernel.o
resource_proc.o
resource_test
prf_kernel.o
prf_shim.o
hostkern32.o
prf_test
