machine/
hostkern.o
rmap_kernel_compact.o
rmap_kernel_wide.o
rmap_kernel_diagnostic.o
uio_kernel.o
clist_kernel.o
cred_prot.o
cred_prot2.o
cred_proc.o
rmap_test_compact
rmap_test_wide
rmap_test_diagnostic
uio_test
clist_test
cred_test
resource_kernel.o
resource_proc.o
resource_test
prf_kernel.o
prf_shim.o
hostkern32.o
prf_test
sigauth_test
sigauth_sig.o
sigauth_prot2.o
sigauth_proc.o
sigauth_shim.o
rwuio_test
rwuio_test32
rwuio_kernel.o
rwuio_kernel32.o
rwuio_shim32.o
rwuio_jump.o
rwuio_jump32.o
sysctl_test_compact
sysctl_test_wide
sysctl_kernel_compact.o
sysctl_kernel_wide.o
sysctl_shim.o
